<ul>
  <li><b>Przeznaczenie aplikacji: </b> Aplikacja jest przeznaczona do obsługi inteligentnego domu.</li>
  <li><b>Funkcje: </b>
      <ul>
        <li>Obsługa wielu mieszkań, które tworzy użytkownik. Do każdego z mieszkań można wczytać plan mieszkania w celu łatwiejszej organizacji czujników</li>
        <li>Edytowanie czujników i mieszkań</li>
        <li>Aktualizacje czujników w czasie rzeczywistym</li>
        <li>Symulator zdarzeń z wykorzystaniem usługi HostedServices</li>
        <li>Historia czujników oraz pzeglądanie jej przy użyciu wykresów</li>
        <li>Definicja zakresów wartości każdego czujnika</li>
        <li>Powiadomienia o niepożądanym stanie czujników</li>

      </ul>

  </li>
</ul>
